<div class="col-md-12">
  <div class="group text-right">
    <%= link_to("Submit a new link", new_link_path() , class: "btn btn-lg btn-default")%>
  </div>

  <div class="col-md-12">
    <% @links.each do |link| %>
    <h3><%= link_to(link.title ,link_path(link)) %> </h3>
    <p>
      Post by <b><%= link.user.email %></b>
    </p>
    <%= link_to("Visit Url", link.url, :target=> "_blank" , class: "btn btn-md btn-default")%>
    <%= link_to upvote_link_path(link), method: :post, class: "btn btn-default btn-md-default" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= link.get_upvotes.size %>
    <% end %>
    <%= link_to downvote_link_path(link), method: :post, class: "btn btn-default btn-md-default" do %>
        <span class="glyphicon glyphicon-chevron-down"></span>
        Downvote
        <%= link.get_upvotes.size %>
    <% end %>
    <hr />
    <% end %>
  </div>

</div>
